.navbar {
  position: fixed !important;
  z-index: 3 !important;
  .navbar-toggler {
    border: 0 !important;
  }
  .links__container {
    display: flex;
    flex-direction: column;
    width: 95vw;

    align-items: center;
  }
  .navbar-nav {
    padding: 10px 0;
    span {
      font-size: 35px;
    }
  }
}
