.navbar {
  position: fixed !important;
  z-index: 3 !important;
  .navbar-toggler {
    border: 0 !important;
  }
  .links__container {
    display: flex;
    flex-direction: column;
    width: 95vw;

    align-items: center;
  }
  .navbar-nav {
    padding: 10px 0;
    span {
      font-size: 35px;
    }
  }
  .button {
    width: 65px;
    height: 40px;
    //position: absolute;
    //top: 50px;
    //right: 100px;
  }
  .navbar-toggler-icon {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 42px;
    background: #f7ce3e;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.3s ease-in-out;
  }
  .navbar-toggler-icon::before {
    top: -10px;
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 42px;
    background: #f7ce3e;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.3s ease-in-out;
  }
  .navbar-toggler-icon::after {
    bottom: -10px;
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 42px;
    background: #f7ce3e;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.3s ease-in-out;
  }
}
