.parallax {
  background-image: url('../../media/headerBanner.jpeg');
  height: 100vh;
  width: 100vw;
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media screen and (max-width: 567px) {
    background-attachment: scroll;
  }
}

.parallax--yellow {
  background-image: url('../../media/testimonials.jpg');
  height: 100vh;
  width: 100vw;
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media screen and (max-width: 567px) {
    background-attachment: scroll;
  }
}
.parallax--contact {
  background-image: url('../../media/contact.jpeg');
  height: 100vh;
  width: 100vw;
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media screen and (max-width: 567px) {
    background-attachment: scroll;
  }
}
.parallax--short {
  background-image: url('../../media/contact.jpeg');
  height: 50vh;
  width: 100vw;
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media screen and (max-width: 567px) {
    background-attachment: scroll;
  }
}
